body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.heading {
  padding: 3rem;
  background-color: #f0f1f1;
  text-align: center;
}

.heading h1 {
  color: #035f17;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}

.nav-lateral {
  display: flex;
  flex-direction: column;
  background: #0aaf54;
  padding: 1.8rem;
  min-height: 36rem;
  float: left;
}

.nav-single {
  background-color: #0aaf54;
  padding: .5rem;
  width: 120px;
  height: 120px;
  margin-bottom: 1.5rem;
  border-radius: 0.3125rem; /*5px*/
  border: 2px solid rgb(5, 233, 165); 
  text-align: center;
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.nav-link:hover {
  background-color: rgba(9, 133, 64, 0.8);
  cursor: pointer;
  font-weight: bold;
  color: rgb(169, 247, 223);
}

.nav-texto {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100px;
  margin-top: 0.625rem;
}

.nav-config {
  padding: 1.875rem; /*30px*/
  margin-bottom: 0.9375rem; /* 15px */
  background-color: bisque;
  text-align: center; 
  width: auto;
  height: auto;
}

.div-principal {
  margin: 0.625rem;
  /*width: 66.0625rem; /*1057*/
}

.div-contenido {
  margin-left: 0.625rem; /*10px*/
  padding: 1.5rem; 
  /* background-color: aqua; */
  max-width: 66.2125rem; /*1059.4*/
  /* width: 66.2125rem; 1059.4 */
  min-height: 36.6rem; /*585.6*/
  float: left;
  display: block;
}

footer {
  padding: 3rem;
  text-align: center;
  color: white;
  font-size: 1.4rem;
  background-color: rgb(32, 32, 32);
  clear: both;
}
